@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&display=swap');
.main {
  width: 70%;
  margin: 0 auto;
  background-color:#F1F4F9
}

nav {
    font-family: "BioRhyme", serif;
  display: flex;
  justify-content: space-around;
  position:sticky;
  top: 15px;
  background-color:#ebd7e4;
  height:35px
  
}

.splash {      
  width: 100%;
}
.products {
  display: flex;
  justify-content: space-around;
}
.product {
  width: 30%;
}
.productImg {
  width: 100%;
}

.container {
  position:relative;
  text-align: center;
  color:#F1F4F9;
}



.centered p{
  position: absolute;
  top:25%;
  left:50%;
  transition: translate(-50%, -50%);
  background:#ebd7e4;
  font-size:80px;
  padding-bottom: 15px;
  width:700px;
} 

.centered{
  font-family:"BioRhyme", serif ;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}




p{ font-family: "BioRhyme", serif;
    font-size: 3vw;}

@media screen and (max-width:480px) {
  div{flex-direction: column;
  margin: 0 auto;}
    nav{flex-direction: column;
    text-align:center;}
}
  
a{
    color:black;
}